.App {
  text-align: center;
  margin: auto;
  background-color: #c5a880;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Device{
  background-color: #02475e;
  padding: 5px;
  border-radius: 5px;
}